body {
  background-color: black; color:
  lime; font-family: Tahoma;
}
h1, h2, h3, h4, h5, h6 {
  background-color: #262626;
}
br {background-color: black;
}

.hookupico a, h3 {
  background-color:lime;
  color:black;
}
.hookupico, a {
  color: black;
}
.hookupico:visited {
  color: black;
}
.hookupico:hover {
  color: white;
}
.hookupico:active {
  background-color: green;
  color: lime;
}

.center_button {
  text-align: center;
  background-color:lime;
  color:black;
  width: 50%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.center_button:visited {
  text-align: center;
  color:black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.center_button:hover {
  text-align: center;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.center_button:active {
  text-align: center;
  background-color: green;
  color: lime;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  float: center;
  border: 1px solid lime;
  padding: 10px;
  margin: 10px;
}
div.container_left {
  float: left;
  width: 45%;
  border: 1px solid lime;
  padding: 10px;
  margin: 10px;
}
div.container_right {
  float: right;
  width: 45%;
  border: 1px solid lime;
  padding: 10px;
  margin: 10px;
}
div.wrapper_full{
    width: 100%;
	display: inline-block;
}

div.videocontainer {
  float: left;
  width: 300px;
  height: 400px;
  border: 1px solid lime;
  padding: 0px;
  margin: 0px;
}

div.videogallery {
	width: 100%;
	float: left;
}

div.picturecontainer {
  float: left;
  width: 200px;
  height: 250px;
  border: 1px solid lime;
  padding: 0px;
  margin: 0px;
}
div.picturegallery {
	width: 100%;
	float: left;
}

.topnav {
  overflow: hidden;
  background-color: #262626;
  margin-top: -10px;
}

.topnav a {
  float: left;
  color: lime;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: lime;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: lime;
}